@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.woff") format("woff"),
    url("fonts/Vazir-Bold.ttf") format("ttf"),
    url("fonts/Vazir-Bold.woff2") format("woff2");
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

body {
  background: url("bg.png") no-repeat center center fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  font-family: vazir;
  direction: rtl;
}

#myInput,
#myInput2 {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  body {
    background: url("bgdark.png") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    color: whitesmoke;
  }

  #myTable tr.header,
  #myTable tr:hover {
    background-color: black;
  }

  #myTable tr {
    border-bottom: 1px solid white;
  }

  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
    font-size: 18px;
  }

  #myInput,
  #myInput2 {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-bottom: 12px;
  }

}