@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Vazir-Bold.eot");
    src: url("fonts/Vazir-Bold.woff") format("woff"),
    url("fonts/Vazir-Bold.ttf") format("ttf"),
    url("fonts/Vazir-Bold.woff2") format("woff2");
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: vazir;
    direction: rtl;
}

@keyframes example {
    0%   {right:600px;width: 0;height: 0px;}
    100% {right:0px;width: max-content/10;height: max-content/10;}
  }
  
  /* The element to apply the animation to */
  .airplane {
    width:max-content/10;
    height: max-content/10;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-name: example;
    animation-duration: 3s;
  }

  @keyframes movedown {
    0%   {bottom:70px;}
    100% {bottom:0px;}
  }
  
  /* The element to apply the animation to */
  .movedown {
    position: relative;
    animation-name: movedown;
    animation-duration: 1.5s;
  }
  

.bg-cp{
    background-color: rgb(255, 255, 255);
}
.bg-gray{
    background-color: rgb(130, 130, 130);
}
.fs-7{
    font-size: 20px;
}
.fs-8{
    font-size: 20px;
}
.inp-width{
    width: 80%;
}
.inp-width-mosaferan{
    width : 40%;
}
.inp-height{
    height: 40px;
}
.date-width{
    width: 240px;
}
<<<<<<< HEAD

#plus,#minus{
  width: 40px; height: auto;
}


#plus,#minus{
  width: 40px; height: auto;
}

#plus,#minus{
  width: 40px; height: auto;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    .bg-cp{
    background-color: black;
    }
    .fs-7{
        font-size: 20px;
        color: whitesmoke;
    }
    .fs-8{
        font-size: 20px;
        color: whitesmoke;
    }
    .dark-mode {
        color: white;
    }
}

